# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
logs/*
!logs/.gitkeep

# Screenshots
screenshots/*
!screenshots/.gitkeep

# Dados
data/*
!data/.gitkeep

# Playwright
playwright-report/
test-results/

# macOS
.DS_Store

# VS Code
.vscode/

*.log
*.tmp
*.bak